<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>

        <!--        <property name = "hibernate.connection.driver_class">-->
        <!--            com.postgresql.jdbc.Driver-->
        <!--        </property>-->

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:postgresql://localhost:5432/postgres?currentSchema=hms
        </property>

        <property name = "hibernate.connection.username">
            postgres
        </property>

        <property name = "hibernate.connection.password">
            root
        </property>

        <mapping class="com.tectoro.entity.Student" />
        <mapping class="com.tectoro.entity.Book" />
        <mapping class="com.tectoro.entity.Author"/>
    </session-factory>
</hibernate-configuration>

